<div class="footer">
    <div class="footer-wrapper">
        <div class="content">
            <div class="socials">
                <div class="branding">
                    <div class="brand-logo">
                        <img src="assets/ticketwave-logo.png" alt="">
                    </div>
                    <div class="brand">
                        <div class="brand-name">Ticket Wave</div>
                        <div class="tool-name">Inventory</div>
                    </div>
                </div>
                <div class="icons">
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-discord"></i>
                    <i class="bi bi-twitter-x"></i>
                    <i class="bi bi-tiktok"></i>
                </div>
            </div>
            <div class="links">
                <div class="column">
                    <div class="title">Quick Links</div>
                    <p>Ticket Wave</p>
                    <p>Monitors</p>
                    <p>Whop</p>
                </div>
                <div class="column">
                    <div class="title">Legal</div>
                    <p>Terms of Service</p>
                    <p>Privacy Policy</p>
                </div>
                <div class="column">
                    <div class="title">Support</div>
                    <p>Email Us</p>
                </div>
            </div>
        </div>
        <div class="bottom">
            © 2025 · Ticket Wave · design by wenyxz
        </div>
    </div>
</div>
