/* Default styles */
.content {
    width: 100%;
    height: 100px;
    padding: 0px 48px;
    display: flex;
    align-items: center;
    gap: 48px;
}

.category {
    display: flex;
    gap: 24px;
}

#non-colored {
    border-radius: 50px;
    transition: ease-in-out 50ms;

    &:hover {
        transition: ease-in-out 50ms;
        color: #6DA5C0;
    }
}

.menu {
    display: flex;
    align-items: center;
}

#colored-button, #list-menu-button {
    background: var(--colored-button);
    padding: 12px 24px;
    border-radius: 50px;
    overflow: hidden;
    transition: ease-in-out 300ms;

    &:hover {
        transition: ease-in-out 300ms;
        background: var(--colored-button-hover);
    }
}

#list-menu-button {
    margin-left: auto; /* This will push the button to the right */
    padding: 8px 16px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Disable scrolling when menu is open */
.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
}

/* Dimmed background overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(4px); /* Optional: Adds a blur effect */
    z-index: 998; /* Just behind the menu */
}

/* Mobile Menu */
.list-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #020C0F;
    padding: 24px 24px 128px 24px;
    justify-content: space-between;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    transition: right 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
}

/* Open state */
.list-menu.open {
    right: 0;
}

/* Close button */
#close-menu {
    align-self: flex-end;
    position: absolute;
    top: 16px;
    right: 16px;
}

/* List inside menu */
.list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    button {
        font-size: 18px;
    }
}

/* Disable background scroll when menu is open */
body.menu-open {
    overflow: hidden;
}

@media (max-width: 1024px) {
    .navigation {
        justify-content: space-between; /* Moves menu items to the right */
    }
}

@media (max-width: 859px) {
    .navigation {
        justify-content: flex-end; /* Moves menu items to the right */
    }

    .content {
        padding: 0px 24px;
    }
}
