<div class="page">
    <div class="hero-wrapper">
        <div class="text">
            <div class="title">
                <div class="sphere" id="sphere1"></div>
                <span>KEEP</span> ORGANIZED, STAY <span>INFORMED</span></div>
            <div class="desc">
                Analyse your sales and increase your sales efficiency thanks to a well-organised manager.
            </div>
            <div class="buttons">
                <button id="colored">
                    Get Now
                </button>
                <button id="non-colored" (click)="openInventory()">
                    Inventory
                </button>
            </div>
        </div>
        <div class="image">
            <div class="sphere" id="sphere2"></div>
            <img src="assets/hero-stacked.png" alt="">
        </div>
    </div>
</div>
