<div class="page">
    <div class="pricing-wrapper">
        <div class="title">
            <span>GET</span> ALL IN ONE <span>PACKAGE</span>
        </div>
        <div class="plan">
            <img src="assets/dashboard-overview.png" alt="Dashboard Overview">
            <div class="gradient"></div>
            <div class="column">
                <div class="plan-title">
                    Inventory Manager
                </div>
                <div class="pricing">
                    15
                    <div class="price-plan">
                        <div class="currency">EUR</div>
                        <div class="freq">/month</div>
                    </div>
                </div>
                <button>Get Now</button>
                <div class="desc">
                    <div class="row">
                        <i-lucide [img]="CheckIcon" [size]="16"></i-lucide>
                        Personalized dashboard
                    </div>
                    <div class="row">
                        <i-lucide [img]="CheckIcon" [size]="16"></i-lucide>
                        Ticket inventory
                    </div>
                    <div class="row">
                        <i-lucide [img]="CheckIcon" [size]="16"></i-lucide>
                        Sales tracker
                    </div>
                    <div class="row">
                        <i-lucide [img]="CheckIcon" [size]="16"></i-lucide>
                        Fee calculator
                    </div>
                    <div class="row">
                        <i-lucide [img]="CheckIcon" [size]="16"></i-lucide>
                        Viagogo account linking
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
