<div class="page">
    <div class="features-wrapper">
        <div class="title">
            <span>SIMPLIFY</span> ACTIVITY TRACKING, ENSURE <span>SUCCESS</span>
        </div>
        <div class="features">
            <div class="feature">
                <div class="sphere" id="sphere1"></div>
                <app-feature
                    [title]="'General overview'"
                    [description]="'Have an overview of your portfolio and its value at any time and track the evolution of your performance using essential metrics.'"
                    [tagText]="'#dashboard'"
                    [tagIcon]="'Eye'"
                    [imageSrc]="'assets/dashboard-overview.png'"
                    [reverseLayout]="false">
                </app-feature>
            </div>
            <div class="feature">
                <div class="sphere" id="sphere2"></div>
                <app-feature
                    [title]="'Ticket evidence'"
                    [description]="'Keep all your purchase information and data in one smart system, focus on executing the right purchases and sales at the best time, don\'t lose track of your inventory.'"
                    [tagText]="'#evidence'"
                    [tagIcon]="'Ticket'"
                    [imageSrc]="'assets/event-overview.png'"
                    [reverseLayout]="true">
                </app-feature>
            </div>
            <div class="feature">
                <div class="sphere" id="sphere3"></div>
                <app-feature
                    [title]="'Sales tracker'"
                    [description]="'Have an overview of your portfolio and its value at any time and track the evolution of your performance using essential metrics.'"
                    [tagText]="'#tracking'"
                    [tagIcon]="'Chart'"
                    [imageSrc]="'assets/merged-sales-tracker.png'"
                    [reverseLayout]="false">
                </app-feature>
            </div>
            <div class="feature">
                <app-feature
                    [title]="'Link with Viagogo'"
                    [description]="'Have an overview of your portfolio and its value at any time and track the evolution of your performance using essential metrics.'"
                    [tagText]="'#conjuction'"
                    [tagIcon]="'Plug'"
                    [imageSrc]="'assets/coming-soon.png'"
                    [reverseLayout]="true">
                </app-feature>
            </div>
        </div>
    </div>
</div>
